.main-container {
    overflow: hidden;
display: flex;
flex-direction: column;
text-align: center;
height: 100vh;
width: 100%;
min-width: 780px;
}

.content-container {
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
    
}

.background-image {
    height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/images/login-background.jpg');
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
}

.ctaLogo1 {
    max-width: 100%;
    margin-bottom: 1.5rem;
    display: block;
    width: 100%;
    min-height: 1px;
}

.subscriptions {
    width: 100%;
    height: 75px;
    border-radius: 10px;
    font-size: 2rem;
    color: #f9f9f9;
    background-color: #0063e5;
    font-family: Metropolis;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.subscriptions:hover {
    background-color: #0483ee;
}

.subscriptions:active {
    background-color: #0063e5;
    box-shadow:5px 5px 5px rgba(0, 0, 0, .4);
}

.description {
    font-size: 0.9rem;
    font-weight: 500;
    word-spacing: 4px;
    line-height: 150%;
    margin: 1.5rem 0

}

.disneyPkgLogo {
    max-width: 100%;
    margin-bottom: 1rem;
}