.header-container {
  height: 70px;
  width: 100%;
  display: flex;
  background-color: #090b13;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  justify-content: space-between;
  height: 70px;
}

.logo-container {
  margin: 0 10px;
  max-width: 100px;
  min-width: 75px;
  flex-shrink: 0;
}

.disney-icon {
  width: 100%;
}

.login-container {
  border: 1px solid white;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  animation: grow 0.2s fill-mode;
  cursor: pointer;
}

.login-container:hover {
  transform: scale(1.02, 1);
  transition: all 0.1s ease-in-out;
}

.UserImg {
  max-height: 70px;
  border-radius: 180px;
  margin-right: 16px;
}

.DropDown {
  position: absolute;
  top: 30px;
  right: -5px;
  background: rgb(19, 19, 19);
  border: 1px solid rgba(151, 151, 151, 0.34);
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 50%) 0px 0px 18px 0px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 3px;
  width: 100px;
  opacity: 0;
}

/* === dropdown */
.SignOut {
  position: relative;
  height: 48px;
  width: 48px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.SignOut:hover .DropDown,
.DropDown:hover {
  opacity: 1;
  transition-duration: 1s;
}

@media (max-width: 768px) {
  .content-container {
    max-width: 600px;
  }

  .login-container {
    margin: auto;
    letter-spacing: 8px;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .logo-container {
    display: none;
    text-transform: none;
  }
}
