.nav-menu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0 2.5rem;
    margin-right: auto;
}

.home-link {
    display: flex;
    align-items: center;
}

.home-link span {
    letter-spacing: 1px;
    font-size: 16px;
}

.nav-icon {
    width: 20px;

    height: 20px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
}